{% extends "base.html" %}
{% block title %}Library Loan System - Homepage{% endblock %}

{% block content %}
<h1 class="display-4">SAVE THE EARTH</h1>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
&nbsp;&nbsp;
<h3>Global warming</h3>
<p>Climate change refers to long-term shifts in temperatures and weather patterns. These shifts may be natural, but since the 1800s, human activities have been the main driver of climate change, primarily due to the burning of fossil fuels (like coal, oil and gas), which produces heat-trapping gases.</p>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="images_bicycle.jpg" alt="bicycle image" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Walk, Cycle or Take public transport</h1>
      <p></p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="images_vegetables.png" alt="vegetable" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Eat more vegetables </h1>
      <p>Architect & Engineer</p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="images_recycling_bin.png" alt="recycling bin" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Reduce, reuse, repair & recycle</h1>
      <p>Architect & Engineer</p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="images_electric_vehicle.png" alt="electric vehicle" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Switch to electric vehicle</h1>
      <p>Architect & Engineer</p>
    </div>
  </div>
</div>
{% endblock %}

